body {
    color: rgb(208, 204, 198);
    background-color: rgb(24, 26, 27);
}

#header {
    display: flex;
    align-items: center;
}

.toggleButton {
    height: 30px;
    margin: 20px;
}

/* CSS For the Grid Display*/
#flexgrid {
    display: flex;
    flex-wrap: wrap;
}

.weatherDisplay {
    width: 200px;
    padding: 0px 10px;
    margin: 10px;
    border: 1px solid rgb(208, 204, 198);
}

.weatherDisplay h4 {
    float: left;
}

.temperature, .windSpeed {
    width: 50%;
}

.humidity, .precipitation {
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
}

.weatherIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
}

.time {
    text-align: center;
    border-bottom: 1px solid white;
}

/* CSS For the Table Display*/ 
#table {
    border-collapse: collapse;
    display: none;
}

#table img{
    width: 40px;
}

#table tr:nth-child(even){
    background-color: rgb(58, 62, 65);
}

#table tr:nth-child(odd){
    background-color: rgb(31, 34, 35);
}

#table td, #table tr {
    border: 1px solid rgb(84, 91, 94);
}